.container {
  background-color: black;
  height: calc(100vh - 100px);
  overflow: hidden;
  z-index: -1;
}
.arrowContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 10%;
  height: 20%;
  margin: auto;
  z-index: 2;
}
.wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
}
.imgContainer {
  height: 100%;
  width: 100vw;
  position: relative;
  transition: all 1.5s ease-in-out;
}
@media screen and (max-width: 480px) {
  .container {
    height: 50vh;
  }
}
